$default-padding:0;
$default-margin:0;
$li-default-margin:1em;
$default-color:black;
$viewport-height:50em;
$padding-top:5em;
$li-margin:0 2em 0 2em;
$form-padding:2em 2em 2em 2em;
$default-margin-i:0 0.5em 0 0.5em;
$footer-padding:1em 5em 1em 5em;
$title-color:#fec503;
$background-img:url("../resources/picture1.jpg");