@import "utilities/variables";
nav{
    background-color:transparent;
    display:block;
    width: 100%;
    height: auto;
    background-color: black;
    padding-top:1.5em;
    padding-bottom:1.5em;
    position:fixed;
    z-index:3000;
   .title{
        display: flex;
        justify-content: center;
        color: $title-color;
    flex-flow: column nowrap;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 1.6em;
    }
    ul{  
      
        display: flex;
        justify-content: flex-end;
        font-size: 1.1em;
        text-transform: uppercase;
        li{
            margin-right: $li-default-margin;
            a{
                color: white;
                &:hover{
                    color: $title-color;
                }
            }
        }
    }

}
.nav-content{
    display: flex;
    justify-content: space-around;
}
.viewport{
    background-image: $background-img;
    height: $viewport-height;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: auto;
  display: flex;
  justify-content: center;
  font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: white;
}
   .content{
        display: flex;
        flex-flow: column nowrap;
     align-items: center;
     align-self: center;
     margin-top:1em;
     h3{
        font-style: italic;
        font-family: 'Roboto Slab', serif;
        font-size: 2.5em;
        line-height: 0.5em;
        color:white;
     }
     div{
        font-size: 5em;
        font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: 900;
        text-transform: uppercase;
     }
        p{
            color: white;
            font-weight: 600;
            font-size: 1em;
        }  
   } 