@import "utilities/variables";
#portfolio{
    padding:0 10em 0 10em;
    header{
        padding-top:$padding-top;
    }
    .gallery{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 25vw);
        grid-gap: 1.5rem;   
        align-items: center;
        margin: 4em 0 4em 0;
        .item{
           padding-bottom:2em ;
        }    
        .item-img{
            float:left;
            overflow:hidden;
            position:relative;
            text-align:center;
            .picture{
               width: 100%;
               height: 18em;
            }
            & img{
                -webkit-transition:all .4s linear;
                transition:all .4s linear;
            }
            &:hover img {
                -ms-transform:scale(1.2);
                -webkit-transform:scale(1.2);
                transform:scale(1.2);
                }
                &:hover .middle {
                    opacity:1;
                    }
                    &:hover h2, a.info {
                        opacity:1;
                        -ms-transform:translatey(0);
                        -webkit-transform:translatey(0);
                        transform:translatey(0);
                        }
                        &:hover a.info {
                            -webkit-transition-delay:.2s;
                            transition-delay:.2s;
                            }
                        }
        .middle {
            width:100%;
            height:100%;
            position:absolute;
            overflow:hidden;
            top:0;
            left:0;
            opacity:0;
            background-color:rgba(0,0,0,0.5);
            -webkit-transition:all .4s ease-in-out;
            transition:all .4s ease-in-out;
          }
           h2 {
            color:#fff;
            position:relative;    
            background:rgba(0,0,0,0.6);
            -webkit-transform:translatey(-100px);
            -ms-transform:translatey(-100px);
            transform:translatey(-100px);
            -webkit-transition:all .2s ease-in-out;
            transition:all .2s ease-in-out;
            padding:0.5em;
            }
            .info {
                text-decoration:none;
                display:inline-block;
                text-transform:uppercase;
                color:#fff;
                border:1px solid #fff;
                background-color:transparent;
                opacity:1;   
                -webkit-transition:all .2s ease-in-out;
                transition:all .2s ease-in-out;
                margin:50px 0 0;
                padding:7px 14px;
                &:hover{
                    box-shadow:0 0 5px #fff;
                   }
                }
        
             .gallery__img{
                width: 100%;
                height: auto;
              cursor:pointer;
             }      
        p{
               padding: 0;
               margin: 0;
               font-style: italic;
           }
        h3{
            padding: 0;
            margin: 0; 
        }
       .text{
          margin-top:1em;
       }
    }
}