@import "utilities/variables";
#services{
    
    padding-top:$padding-top;
    display: flex;
        flex-flow: column nowrap;
     align-items: center;
     margin: 0 1.5em 0 1.5em;

.service-icons{
    
    ul{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;  
        li{
            display: flex;
            flex-flow: column nowrap;
         align-items: center;
        margin:$li-margin;
        i{
            color: white;
            background-color: $title-color;
            font-size: 3em;
            padding:0.7em;
            border-radius: 50%;
            transition: all 0.3s ease-out;
            &:hover{
                background-color: #777;
               
            }
        }
        }
       
    }
   
}
}