@import "utilities/variables";
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
   margin: 0 10em 0 10em;
    padding:1em 0 1em 0;
    .icons{
      i{
          margin: $default-margin-i;
          background-color: #222;
      }
    }
    .policy{
        display: flex;
        p{
            margin: $default-margin-i;
            color: chartreuse;
            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
   .social{
        color: white;
        padding: 0.7em;
          border-radius: 1.2em;
          transition: all 0.3s ease-out;
          &:hover{
            background-color: $title-color;
            cursor: pointer;      
          }
        }
    }
   
